body {
    display: grid;
    grid-template-areas: 
      'header header header'
      'machine machine machine'
      'credits credits credits'
      'buttons buttons buttons';
    grid-template-rows: 10px 900px 50px 50px 50px;
}

header {
    grid-area: header;
}

#slot-machine {
    grid-area: machine;
    background-image: url(../images/slot-screen.png);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.symbol>img {
    height: 200px;
}

#onetoptarget {
    position: absolute;
    top: 20%;
    left: 22%;
}

#onemiddletarget {
    position: absolute;
    top: 42%;
    left: 22%;
}

#onebottomtarget {
    position: absolute;
    top: 66%;
    left: 22%;
}

#twotoptarget {
    position: absolute;
    top: 20%;
    left: 43%;
}

#twomiddletarget {
    position: absolute;
    top: 42%;
    left: 43%;
}

#twobottomtarget {
    position: absolute;
    top: 66%;
    left: 43%;
}

#threetoptarget {
    position: absolute;
    top: 20%;
    left: 64%;
}

#threemiddletarget {
    position: absolute;
    top: 42%;
    left: 64%;
}

#threebottomtarget {
    position: absolute;
    top: 66%;
    left: 64%;
}

#credits {
    grid-area: credits;
}

.display {
    display: inline;
}

#buttons {
    grid-area: buttons;
}

.paytable {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.paytable-content {
    height: 1000px;
    text-align: center;
    position: relative;
}

.paytable>img {
    height: 1000px;
}

#close {
    position: absolute;
    color: black;
    top: 60px;
    right: 60px;
    font-size: 40px;
    font-weight: bolder;
    transform: rotate(45deg);
    cursor: default;
}