body {
    background-image: linear-gradient(#322335, #c83b81, #ffbd59);
    background-repeat: no-repeat;
    display: grid;
    grid-area: 
    header header header header header,
    screen screen screen buttons buttons,
    screen screen screen buttons buttons,
    display display display display display
}

#title {
    grid-area: header;
    width: 100%;
}

.slot-machine {
    grid-area: screen;
    display: flex;
    width: 750px;
    height: 750px;
    align-items: center;
}

.reels {
    background-color: white;
    display: inline-flex;
    width: 200px;
    height: 600px;
    justify-content: space-between;
}

#reel-one {
    background-image: url(../images/reel-one.png);
    background-size: 200px;
    background-repeat: repeat-y;
    background-position-x: 0;
    background-position-y: 0;
    animation-name: spinReel;
    animation-duration: 6s;
}

#reel-two {
    background-image: url(../images/reel-two.png);
    background-size: 200px;
    background-repeat: repeat-y;
    background-position-x: 0;
    background-position-y: 0;
    animation-name: spinReel;
    animation-duration: 6s;
    animation-delay: .5s;
}

#reel-three {
    background-image: url(../images/reel-three.png);
    background-size: 200px;
    background-repeat: repeat-y;
    background-position-x: 0;
    background-position-y: 0;
    animation-name: spinReel;
    animation-duration: 6s;
    animation-delay: 1s;
}

@keyframes spinReel {
    0% {
        background-position-y: 0
    }
    100% {
        background-position-y: 1800px;
    }
}

#gamebuttons {
    grid-area: buttons;
    display: flex;
    justify-content: flex-end;
}

.wager {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
}

#credits {
    grid-area: display;
    font-family: "orbitron";
    text-align: left;
    color: white;
    font-size: xx-large;
}

.display {
    display: inline;
}

.paytable {
    grid-area: buttons;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.paytable-content {
    height: 1000px;
    text-align: center;
    position: relative;
}

.paytable-content>img {
    height: 1000px;
}

#close {
    position: absolute;
    color: black;
    top: 60px;
    right: 60px;
    font-size: 40px;
    font-weight: bolder;
    transform: rotate(45deg);
    cursor: default;
}

#outcome-content-win {
    grid-area: buttons;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#outcome-content-lose {
    grid-area: buttons;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#exit {
    position: absolute;
    color: black;
    top: 60px;
    right: 60px;
    font-size: 40px;
    font-weight: bolder;
    transform: rotate(45deg);
    cursor: default;
}